.App {
  text-align: center;
}

.App-logo {
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 1s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* For Mobile */
@media only screen and (max-width: 960px) {
  .papyrus {
    height: 100%
  }
  .compartments {
    border-bottom: solid 2px #e7e7e7
  }
  .boxes-dialog{
    width: 100vw;
  }
}

/* Large Screen */
@media only screen and (min-width: 961px) {
  .papyrus {
    height: 100vh
  }
  .compartments {
    border-right: solid 2px #e7e7e7
  }
}